---
import Layout from "../layouts/Layout.astro";


---

<Layout title="404 - Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center py-2">
            Mijin esta pagina no existe ...
        </h1>

        <img class="pt-6 rounded-lg" src="https://cdn.dribbble.com/users/1138875/screenshots/4669703/404_animation.gif" alt="404 Not Found">
    </div>
</Layout>