---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">

    <h1>
        About the project
    </h1>
    
    <p>
        The SpaceX Launches projects is a demo for the Austro course with Midudev.
    </p>
</Layout>